.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .wallpaper {
    display: flex;
    height: 100vh;
    background-color: black;
    background-image: url('./photo/bgLogin.png');
    background-size: cover; /* Adjust to your preferences */
    background-position: center; /* Adjust to your preferences */
    justify-content: center;
    /* Other CSS styles for your component */
  }
  
  input[type="text"],
  input[type="password"] {
    height: 25px;
    width: 220px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    width: 143px;
    background: #FF79A9;
    border: 1px solid #FF79A9;
    border-radius: 6px;
    color: #fff;
    padding: 10px 20px;
  }
  
  input[type="submit"]:hover {
    background: #ff93b9;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #adadad94;
    border-radius: 6px;
    width: 400px;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 45px;
    margin-bottom: 5px;
  }
  
  .input-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
  }