.css-10gei56 {
    box-shadow: none !important;
}

/* .css-1w86f15 {
    justify-content: center !important;
}

.css-goyhkv-MuiTableCell-root {
    display: flex !important;
    justify-content: center;
} */