.custom-col-md-4 {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.custom-row {
    width: 100% !important;
}

.content-container{
    --bs-gutter-x: 0px !important;
}

.import-style {
    border-radius: 6px !important;
}

.custom-form-control {
    border-radius: 6px;
}

.import-style {
    color: rgb(0, 0, 0);
    font-size: 30px;
    max-width: 550px;
}

.custom-container {
    margin-top: 4%;
}