.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 50px;
}

.add-table-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  height: auto;
  margin-top: 20px;
}

.button-container {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-bottom: 20px;
}
