@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

.my-app-bar {
  background-color: rgb(255, 0, 162);
}

/* CSS for Red Background */
.red-background {
  background-color: red;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  right: 0;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 8px;
  width: 10px;
  height: 10px;
}
